* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: #14213d;

  width: 100%;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.heading {
  color: white;
  text-align: center;
}
.button {
  color: white;
  background: #fca311;
  outline: none;
  width: 100px;
  height: 50px;
}
.button:focus {
  outline: none;
}

.button:hover {
  color: #fca311;
  background: white;
}
.cardsContainer{
  display: flex;
  flex-direction: row;
  
}
.card {
  width: 13rem;
  height: 18rem;
}
